<div class="container">
    <form [formGroup]="editorForm">
        <input type="text" placeholder="Grado">
        <select formControlName="degree">
            <option *ngFor="let degree of scormDegreeValues" [value]="degree">{{degree}}</option>
        </select>
        <input type="text" formControlName="subject" placeholder="Asignatura">
        <input type="text" formControlName="title" placeholder="Unidad">
        <input type="text" formControlName="credits" placeholder="Créditos">
        <input type="text" formControlName="teacher" placeholder="Profesor">
        <input type="text" formControlName="unitCode" placeholder="Código">
        <hr>
    </form>
    <button type="button" (click)="setCode()">Show code</button>
    <textarea *ngIf="htmlCode !== undefined" style="width: 100%; height: 400px" [value]="htmlCode">

    </textarea>
</div>