<div class="container">
    <h3>Accordion</h3>
    <form [formGroup]="editorForm">
        <input type="text" formControlName="page" placeholder="Página">
        <textarea formControlName="paragraph" style="width: 100%; height: 200px"></textarea>
        <button type="button" (click)="addParagraph()">Add Paragraph</button>
    </form>
    <button type="button" (click)="setCode()">Show code</button>

    <textarea *ngIf="htmlCode !== undefined" style="width: 100%; height: 400px" [value]="htmlCode">

    </textarea>
</div>