<div class="container">
    <button style="margin: 0 1rem" routerLink="/texto">Texto</button>
    <!-- <button style="margin: 0 1rem" routerLink="/texto-imagen">Texto + Imagen</button>
    <button style="margin: 0 1rem" routerLink="/acordeon">Acordeón</button>
    <button style="margin: 0 1rem" routerLink="/tabla-dinamica">Tabla dinámica</button>
    <button style="margin: 0 1rem" routerLink="/flip">Flip</button>
    <button style="margin: 0 1rem" routerLink="/timeline">Timeline</button>
    <button style="margin: 0 1rem" routerLink="/multi-jumbo">Multi Jumbo</button>
    <button style="margin: 0 1rem" routerLink="/timeline-jumbo">Timeline Jumbo</button>
    <button style="margin: 0 1rem" routerLink="/presentation">Presentation</button> -->
</div>
<div class="container">
    <button style="margin: 0 1rem" routerLink="/pic-text">Pic + text</button>
    <button style="margin: 0 1rem" routerLink="/accordion">Accordion</button>
    <button style="margin: 0 1rem" routerLink="/glossary">Glossary</button>
    <button style="margin: 0 1rem" routerLink="/evaluation">Evaluation</button>
</div>
<hr>
<div class="container">
    <button style="margin: 0 1rem" routerLink="/json-home">JSON Frontpage</button>
    <button style="margin: 0 1rem" routerLink="/meta-slide">JSON Presentation</button>
    <button style="margin: 0 1rem" routerLink="/text-pic">JSON Text & pic</button>
    <button style="margin: 0 1rem" routerLink="/accordion-pic">JSON Accordion & pic</button>
    <button style="margin: 0 1rem" routerLink="/tabs">JSON Tabs</button>
    <button style="margin: 0 1rem" routerLink="/rotary-cards">JSON Rotary Cards</button>
    <button style="margin: 0 1rem" routerLink="/video">JSON Video</button>
    <button style="margin: 0 1rem" routerLink="/verification-question">Verification Question</button>
    <button style="margin: 0 1rem" routerLink="/see-answer">See Answer</button>
    <button style="margin: 0 1rem" routerLink="/evaluation-json">JSON Evaluation</button>
    <button style="margin: 0 1rem" routerLink="/glossary-json">JSON Glossary</button>
    <button style="margin: 0 1rem" routerLink="/interest-links">JSON Links</button>
    <button style="margin: 0 1rem" routerLink="/bibliography">JSON Bibliography</button>
</div>
<hr>
<div class="container">
    <button style="margin: 0 1rem" routerLink="/v1-v3-text-pic">JSON Text & pic from V1</button>
    <button style="margin: 0 1rem" routerLink="/v1-v3-accordion">JSON Accordion from V1</button>
</div>
<hr>
<div class="container">
    <button style="margin: 0 1rem" routerLink="/parser">Parser</button>
</div>
<hr>
